# Servers
APP_NAME="MyPortfolio"
PORT=8000
NODE_ENV=development
DATABASE_URL=""
BACKEND_URL="http://localhost:8000"

# JWT: Generate yours at https://jwtsecrets.com/
JWT_SECRET=

# FRONTEND
FRONTEND_URL="http://localhost:3000"

# Email Credentials (Use GMAIL for Testing Only)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=""
SMTP_PASSWORD="" #Tutorial: https://www.youtube.com/watch?v=74QQfPrk4vE
SMTP_FROM=""